* {
    font-family:'Roboto',sans-serif;
    box-sizing: border-box;
}

.header,.top,.footer {
    background-color: #1f2937;
}

.top .card .left-side .title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.top .card .left-side .text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
}

.middle1 .title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.middle2 {
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.header {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #f9faf8;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.top, .card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 30px 200px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}