body {
    font-family:'Roboto',sans-serif;
}

.header,.top,.footer {
    background-color: #1f2937;
}

.top .card .left-side .title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.top .card .left-side .text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
}

.middle1 .title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.middle2 {
    background-color: #e5e7eb;
}

.quote .text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

/* fixing page*/
body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #f9faf8;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.top, .middle1, .middle2, .bottom {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.top {
    padding: 48px;
}

.card {
    display: flex;
    align-items: center;
    gap: 32px;
}

.left-side {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sign-up {
    font-weight: bold;
    font-size: 14px;
    color: #e5e7eb;
    width: 110px;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: #3882f6;
}

.top-image {
    height: auto;
    width: 450px;
}

.middle1 {
    padding: 48px 0px;
    flex-direction: column;
    gap: 48px;
}

.objects {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 48px;
    margin-bottom: 48px;
}

.object1, .object2, .object3, .object4 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mid-image {
    height: 150px;
    width: 300px;
    border: #3882f6 solid;
    border-radius: 10px;
}

.object1 .text, .object2 .text, .object3 .text, .object4 .text {
    width: 300px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 72px 0;
    margin: 32px 0;
}

.quote .text {
    width: 800px;
}

.author {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.bottom {
    padding: 64px;
}

.bottom .card {
    background-color: #3882f6;
    width: 950px;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
    border-radius: 10px;
}
.bottom .card .left-side {
    color: #e5e7eb;
}
.bottom .card .title {
    font-weight: bold;
    font-size: 20px;
}
.bottom .card .sign-up {
    border-color: #e5e7eb;
}

.footer {
    padding: 30px 200px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}